<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Faça seu cadastro</h2>

    <form id="cadastroClient">
        <div>
            <label>
                Nome:
            </label>
            <input type="text" placeholder="Digite seu nome" name="name">
        </div>
        <div>
            <label>
                Email:
            </label>
            <input type="text" placeholder="Digite seu email" name="email">
        </div>
        <div>
            <label>
                Telefone:
            </label>
            <input type="text" placeholder="Digite seu tel" name="tel">
        </div>
        <div>
            <label>
                Endereço:
            </label>
            <input type="text" placeholder="Digite seu endereço" name="address">
        </div>

        <button type="submit">Cadastrar</button>
    </form>

    <form action="/admin">
        <button type="submit">
            Clique aqui se for um Admin
        </button>
    </form>
    <script src="index.js"></script>
</body>
</html>