<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Painel de administração</h1>

    <section>
        <div>
            <label>Clientes</label>
            <a href="">Cadastrar cliente</a>
            <button class="list">Listar Clientes</button>
        </div>
        <div>
            <label>Produtos</label>
            <a href="">Cadastrar produto</a>
            <button class="list">Listar Produtos</button>
        </div>
        <div>
            <label>Listar pedidos</label>
            <a href="">Fazer um pedido</a>
            <button class="list">Listar Pedidos</button>
            <label>Status:</label>
            <select>
                <option>Pendente</option>
                <option>Em preparo</option>
                <option>Em entrega</option>
                <option>Entregue</option>
                <option>Cancelado</option>
            </select>
        </div>
    </section>
    
</body>
</html>