<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Painel de administração</h1>

    <section>
        <div>
            <label>Clientes</label>
            <a href="forms/clients.html">Cadastrar cliente</a>
            <button class="list" id="clients">Listar Clientes</button>
            <ul id="clients-list"></ul>
        </div>
        <div>
            <label>Produtos</label>
            <a href="forms/products.html">Cadastrar produto</a>
            <button class="list" id="products">Listar Produtos</button>
            <ul id="products-list"></ul>
        </div>
        <div>
            <label>Listar pedidos</label>
            <a href="forms/orders.html">Cadastrar pedido</a>
            <button class="list" id="orders">Listar Pedidos</button>
            <ul id="orders-list"></ul>
        </div>
    </section>
    <script src="js/lists.js"></script>
</body>
</html>