*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
body{
    div{
        margin: 20px 20px 20px 20px;
        ul{
            margin: 20px 0px 20px 0px;
            li{
                display: flex;
                list-style: none;
                margin: 10px 0px 10px 0px;
            }
        }
        p{
            font-weight: bold;
            margin-right: 5px;
        }
        a{
            color: red;
        }
    }
    .return{
        padding: 5px;
        font-size: 20px;
        color: grey;
        border: none;
        border-radius: 15px;
        margin: 10px 0px 10px 10px ;
        width: 50%;
        height: 30px;
        transition: ease-in 400ms;
        &:hover{
            font-size: 18px;
            color: white;
            width: 52%;
            height: 35px;
            background-color: black;
            box-shadow: 1px 1px 1px white;
            border-radius: 5px;
        }
    }
}