*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    h1{
        margin-top: 40px;
        text-align: center;
    }
    section{
        display: flex;
        justify-content: space-around;
        text-align: center;
        .cards{
            border-radius: 10px;
            box-shadow: 1px 1px 3px gray;
            width: 300px;
            height: 400px;
            margin:30px 0 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: ease 900ms;
            &:hover{
                width: 350px;
                height: 450px;
                margin: 50px;
            }
            div{
                p{
                    font-weight: bold;
                }
                a{
                    color: red;
                }
            }
            img{
                margin: 20px 0px 10px 0px;
                width: 60px;
                height: 60px;
                transition:  ease-in-out 300ms;
                &:hover{
                    width: 65px;
                    height: 65px;
                }
            }
            a{
                text-decoration: none;
                font-size: 20px;
                color: grey;
                margin: 20px 0px 20px 0px;
                &:hover{
                    color: black;
                }
            }
            label{
                font-size: 30px;
            }
            li{
                list-style: none;
            }
            .list{
                padding: 5px;
                font-size: 15px;
                border: none;
                border-radius: 15px;
                margin-bottom: 10px ;
                width: 50%;
                height: 30px;
                transition: ease-in 400ms;
                &:hover{
                    font-size: 18px;
                    color: white;
                    width: 52%;
                    height: 35px;
                    background-color: black;
                    box-shadow: 1px 1px 1px white;
                    border-radius: 5px;
                }
            }
        }
    }
}