<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Painel de administração</h1>

    <h2>Cadastro de Pedidos</h2>

    <form id="form">
        <div>
            <label>Data de criação:</label>
            <input type="date" name="date">
        </div>
        <div>
            <label>Id do Produto:</label>
            <input type="text" name="idProduct">
        </div>
        <div>
            <label>Nome do Produto:</label>
            <input type="text" name="nameProduct">
        </div>
        <div>
            <label>Id do Cliente:</label>
            <input type="text" name="idClient">
        </div>

        <button type="submit">Cadastrar Pedido</button>

    </form>
    <h2>Produtos</h2>
    <hr>
    <ul id="products-list"></ul>
    <br>
    <h2>Clientes</h2>
    <hr>
    <ul id="clients-list"></ul>

    <a href="/views/main.html">Voltar para o Painel</a>

    <script src="/views/js/orders.js"></script>
</body>
</html>