<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Painel de administração</h1>

    <h2>Cadastro de Produtos</h2>
    <form id="form">
        <div>
            <label>Nome:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Preço:</label>
            <input type="number" name="price">
        </div>
        <button type="submit">Cadastrar Produto</button>

    </form>

    <script src="/views/js/products.js"></script>
</body>
</html>